<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Show Page</title>
</head>
<body>
    <div class="container">
        <h1>
            Add A New Item
        </h1>
        <form method='get' action='/budget'>
            <button type='submit'>Back </button>
        </form>
        <form action='/budget' method='POST'>
            <input type="submit" value="Create A New Item">
            <br>
            <input type="text" name="date" placeholder="date ex: June 2" />
            <input type="text" name="name" placeholder="name ex: Macbook Pro" />
            <br>
            <input type="text" name="from" placeholder="from ex: Apple Store" />
            <input type="text" name="amount" placeholder="amount ex: $2,0000" />
            <br>
            <input type="text" name="tags" placeholder="tags ex: Business Expense" />
        </form>
    </div>
</body>
</html>